* {
  padding:0;
  margin:0;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Nav */
/* a {
  color: white;
  padding: 20px;
  text-decoration: none;
} */

/* Projects */
/* img {
 height: 200px;
 width: 200px
} */ 